* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: "Montserrat", sans-serif;
}

body,
input {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none outside;
}

a {
  text-decoration: none;
}

/*** Utility classes ***/

/* Box shadows */
.bs-1 {
  box-shadow: 0 1px 3px 0.3px rgba(0, 0, 0, 0.2);
}
.bs-2 {
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.2);
}
.bs-3 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.bs-4 {
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.8);
}

/* Svg */
.white-svg {
  fill: #fff;
}

/* Layout */
.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.grid-content-center {
  display: grid;
  place-content: center;
}

/* Position */
.p-relative {
  position: relative;
}

/* Sizing images */
.icon-img {
  width: 17px;
  height: 17px;
}

/* Hover classes */
.hover-bg-gray-1 {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Text position */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/* General */
/* General */
/* General */
.separator {
  border-top: 1px solid #e4e6eb;
  display: block;
  margin: 7px 0;
}

.input-text {
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: #f0f2f5;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.primary-btn {
  background-color: rgb(27, 116, 228);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.secondary-btn {
  background-color: #e4e6eb;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.caret-color-transparent {
  caret-color: transparent;
}

.remove {
  display: none;
}
